Language: C
BasedOnStyle: Mozilla
AlignAfterOpenBracket: BlockIndent
BreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Linux
# BreakBeforeBraces: Allman
PointerAlignment: Right
SortIncludes: true
ColumnLimit: 80
IndentCaseLabels: false
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignFunctionDeclarations: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
