CompileFlags:
  Add: [-std=c11, -xc, -Wall, -Wextra, -Wformat-overflow, -Wuse-after-free=1, -Wstrict-prototypes, -Wno-shadow, -Wconversion, -Wno-override-init, -Werror]
  Compiler: clang
Diagnostics:
  Suppress: ["pp_operator_used_as_macro_name", "bugprone-sizeof-expression"]
